{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<div class="center">

  <div class="container-login">
    <center>
      <h1 class="center">Login</h1>
      <div class="links">
        <a href="{% url 'login' %}" class="active">LOGIN |</a>
        <a href="{% url 'registrar' %}">REGISTRO</a>
      </div>
    </center>
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>

      <input class="form-control" type="submit" value="Login">
    </form>
    <p>O ingresa con <a href="{% url 'social:begin' 'facebook' %}">FACEBOOK</a></p>
  </div>
</div>

  {% endblock %}
