{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}


  <div class="login-container">
    <center>
      <h1>Registro</h1>
      <a href="{% url 'login' %}">LOGIN |</a>
      <a href="{% url 'registrousuario' %}" class="active">REGISTRO</a>
    

    <form action="" method="POST">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input class="form-control" type="reset" value="Limpiar">
      <br>
      <input class="form-control" type="submit" value="Registrar">

      <p>O ingresa con <a href="{% url 'social:begin' 'FACEBOOK' %}">Facebook</a></p>
    </center>
  {% endblock %}