{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}


    <div class="row">
      <!-- Elementos generados a partir del JSON -->
      <main id="items" class="col-sm-8 row"></main>
      <!-- Carrito -->
      <aside class="col-sm-4">
        <h2>CARRITO</h2>
        <!-- Elementos del carrito -->
        <ul id="carrito" class="list-group"></ul>
        <hr>
        <!-- Precio total -->
        <p class="text-right">Total: </span>&dollar;<span id="total">;</p>
        <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
      </aside>
    </div>


  {% endblock %}