{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

  <form>
    <div class="form-group">
      <label class="form-text">Correo:</label>
      <input class="form-control" type="email" name="correo" placeholder="Ej. ejemplo@gmail.com">
    </div>
    <div class="form-group">
      <label class="form-text">Escriba aca</label>
      <input class="form-control" type="text" name="escribaca" style="height:350px">
    </div>
    <div>
      <input type="submit" style="float: right;" class="btn btn-success" value="Enviar">
    </div>
  </form>


    {% endblock %}
    