{% extends 'core/base.html' %}

{% load static %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{% static 'core/js/confirmacion.js' %}"></script>
{% endblock %}

{% block contenido %}
<center>
<h2>Listado de cortinas</h2>
</center>


<table class="table">
    <tr>
        <th>Nombre completo</th>
        <th>Ancho</th>
        <th>Alto</th>
        <th>Direccion</th>
        <th>Numero Telefonico</th>
        <th>OPCIONES</th>
    </tr>

    {% for p in cortinas %}

    <tr>
        <td>{{ p.nombre }}</td>
        <td>{{ p.ancho }}</td>
        <td>{{ p.alto }}</td>
        <td>{{ p.direccion }}</td>
        <td>{{ p.numerotelefono }}</td>
        <td>{{ p.imagen }}</td>
        <td>
            <a href="{% url 'modificarcortina' p.id %}">Modificar</a>
            <a href="{% url 'eliminarcortinas' p.id %}">Eliminar</a>
        </td>
    </tr>
    
    {% endfor %}

</table>



{% endblock %}